h1 {
    font-family: 'DynaPuff', cursive;
    color: white;
    font-size: 20px;
    text-align: center;
    
}
h2 {
    font-family: 'DynaPuff', cursive;
    color: white;
    font-size: 17px;  
    text-align: center;
}
