iframe{
  border: 0px;
  margin: 0px;
  height: 99vh;
  width: 100%;
}
body {
  margin: 0px;
  text-align: center;
  color: white;
  font-family: 'Arial', sans-serif;
  text-align: center;
  font-size: 20px;
  background-color: black;
  background-image: url('background.gif');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  font-family: 'Press Start 2P', cursive;
  color: white;
}
input[type="button"] {
  border-radius: 5px;
  border: 2px solid black ;
  box-sizing: border-box;
  background-color: white;
  text-decoration: none;
  text-align: center;
  padding: 0.375em 0.5em 0.1875em;
  font-weight: 600;
  line-height: 1;
  font-family: 'Orbitron', sans-serif;
}
input[type="button"]:hover {
  background-color: #bdbdbd;
  font-family: 'Orbitron', sans-serif;
}
input[type="button"]:active {
  background-color: #828181;
  font-family: 'Orbitron', sans-serif;
}
h1 {
    font-size: 20px;
    
}
h2 {
    font-size: 17px;  
}
.hidden {display: none}
.on {
  background-color: #5dcd4c !important;
}
.on:hover {
  background-color: #70eb5e !important;
}
.on:active {
  background-color: #49a33b !important; 
}
.off {
  background-color: #bf4747 !important;
}
.off:hover {
  background-color: #db5151 !important;
}
.off:active {
  background-color: #ab3f3f !important;
}
